* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kubh sans',sans-serif;
    font-size: 19px;
    font-weight: lighter;

}



.container {
    background-image: linear-gradient(to top,hsl(240, 73%, 65%),hsl(273, 75%, 66%)
    );
    background-repeat: no-repeat;
    
    height: 720px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
   
   
    
  
}


.card {
    height: 80vh;
    width: 130vh;
     background: white;
     background-image: url(./images/bg-pattern-desktop.svg);
     border-radius: 30px;
     position: relative;
    
     background-position:-180px -60px ;
     background-size: 67%;
     background-repeat: no-repeat;
     display: grid;
    grid-template-columns: 1fr 1fr;
}
.card::after {

    content: url(./images/illustration-box-desktop.svg);
    position: absolute;
    left: -100px;
    top: 200px;
    

}


.img-section {
    position: relative;
    overflow: hidden;
   
    
    
}
.img-girl {

   
    position: absolute;
    left: -60px;
    top: 80px;

}
img.girl-img-mob {
    display: none;
}


 /* faq styling */
 .heading {
  
     
     color: red;
 }

.faq {
    margin-top: 99px;
    
}

.q1 {
   
position: relative;
padding-bottom: 20px;
margin-top: 20px;
display: flex;
color: hsl(238, 29%, 16%);


}
.q1::after {
   
        display: block;
          content: '';
         width: 80%;
         height: 1px;
         background: hsl(240, 5%, 91%);
         position: absolute;
         bottom: 0;
         left: 0;
        
       }


.ans1 {
    margin-top: 10px;
    color: hsl(238, 29%, 16%);
}
.q2 {
    position: relative;
padding-bottom: 20px;
margin-top: 20px;
color: hsl(238, 29%, 16%);
/* display: flex; */
}
.q2::after {

    display: block;
          content: '';
         width: 80%;
         height: 1px;
         background: hsl(240, 5%, 91%);
         position: absolute;
         bottom: 0;
         left: 0;

}
.q3 {
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    color: hsl(238, 29%, 16%);
   
}
.q3::after {

    display: block;
          content: '';
         width: 80%;
         height: 1px;
         background: hsl(240, 5%, 91%);
         position: absolute;
         bottom: 0;
         left: 0;

}
.q4 {
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    color: hsl(238, 29%, 16%);
}
.q4::after {

    display: block;
          content: '';
         width: 80%;
         height: 1px;
        
         background: hsl(240, 5%, 91%);
         position: absolute;
         bottom: 0;
         left: 0;

}
.q5 {
    position: relative;
    padding-bottom: 20px;
    margin-top: 20px;
    display: flex;
    color: hsl(238, 29%, 16%);
}
.q5::after {

    display: block;
          content: '';
         width: 80%;
         height: 1px;
         background: hsl(240, 5%, 91%);
         position: absolute;
         bottom: 0;
         left: 0;

}

/* arrow  */
.arrow {
    border: solid hsl(14, 88%, 65%);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arr-key {
      margin-left: 20px;
  }




    
@media screen and (max-width:400px) {
    
    * {
        font-size: 10px;
    }

    .container {
        height: 600px;
        width: 380px;
        
    }
    .card {
        height: 400px;
        width: 300px;
       display: flex;

       align-items:baseline;
       justify-content: center;
       background-image: none;
       
       

    }
    img.girl-img-desk {
        display: none;
    }
    img.girl-img-mob {
        display: block;
        
       
    }
   
    
    .card::after {
        
        display: none;
    }
   

}