* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kubh sans',sans-serif;
    font-size: 20px;
}



.container {
    background-image: linear-gradient(to top,hsl(240, 73%, 65%),hsl(273, 75%, 66%)
    );
    background-repeat: no-repeat;
    
    height: 720px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
   
   
    
  
}


.card {
    height: 80vh;
    width: 130vh;
     background: rgb(230, 226, 226);
     border-radius: 30px;
     position: relative;
     z-index: 1;
display: grid;
grid-template-columns: 1fr 1fr;
}
.card::after {

    content: url(./images/illustration-box-desktop.svg);
    position: absolute;
    left: -100px;
    top: 200px;
    

}


.img-section {
    position: relative;
    overflow: hidden;
   
    
    
}
.img-girl {
    position: absolute;
    left: -60px;
    top: 80px;

}

.bg-pattern {
   
    
   position: absolute;
   top: -240px;
   left: -600px;
   
  

}
